*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner
{
    width: 100%;
    height: 5%;
    margin: auto;
    padding: 35px 0;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(253, 146, 75, 0.75),rgba(238, 230, 112, 0.75));

}
.navbar
{
    width: 85%;
    margin: 5px;
    
    display: flex;
    align-items: right;
    justify-content: right;
}

.logo
{
    position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    width: 120px;
    height: 10vh;
    margin-right: 100px;
    
    filter: brightness(0.2) contrast(2);
}

.h1
{
    text-align: center;
    font-size: 100;
    font-weight: bolder;
}
.p
{
    opacity: 0.5;
    text-align: center;
    font-size: 50;
    font-weight: bolder;
    
}